distlib==0.3.5
filelock==3.7.1
mysql-connector-python==8.0.30
mysqlclient==2.1.1
numpy==1.23.1
opencv-python==4.6.0.66
pandas==1.4.3
platformdirs==2.5.2
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
virtualenv==20.15.1
